<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://djolt.co/assets/css/theme.css">

   <!-- Subscribe -->
   <div class="container content-space-2 content-space-lg-3">
    <div class="w-md-75 w-lg-50 text-center mx-md-auto">
      <div class="row justify-content-lg-between">
        <!-- Heading -->
        <div class="mb-5">
          <h2>Simplify the polynomial</h2>
        </div>
        <!-- End Heading -->
  
        <form action="{{url_for('predict')}}" method="post">
          <!-- Input Card -->
          <div class="input-card input-card-sm border mb-3">
            <div class="input-card-form">
              <label for="subscribeFormEg1" class="form-label visually-hidden">Enter Polynomial Expression as Input</label>
              <input type="text" class="form-control form-control-lg" id="subscribeFormEg1" placeholder="Enter Expression" name="exprn" aria-label="Enter Expression">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Solve!</button>
          </div>
          <!-- End Input Card -->
        </form>
        <p>Examples to try:
          <br>
          t*(t+25)=t**2+25*t<br>
(7-5*k)*(k+2)=-5*k**2-3*k+14<br>
(22-3*z)*(5*z+5)=-15*z**2+95*z+110<br>
(i+2)*(7*i+11)=7*i**2+25*i+22<br>
x**2=x**2
        </p>
      </div>
    </div>
  </div>
  <!-- End Subscribe -->

    </html>


 